<h1>Database: <%= @dataset.database %>
  <% if session[:user_id] and User.find_by(id: session[:user_id].to_i).admin %>
  	<small>
      <%= link_to "Edit This Dataset", edit_dataset_path(@dataset.id) %>
      <%= link_to "Delete This Dataset", dataset_path(@dataset.id), :method => :delete %>
  	</small>
  <% end %>
</h1>
<h3>Table: <%= @dataset.table %></h3>
<p>Link: <%= link_to @dataset.url, @dataset.url %></p>
</br>
<h2>Data Visualization Solutions</h2>
<ul>
  <% @dataset.posts.each do |post| %>
    <li><%= link_to post.title, "/posts/#{post.id}" %></li>
  <% end %>
</ul>
<% if session[:user_id] %>
  <p><%= link_to "Click here", new_post_url %> to add a new post!</p>
<% else %>
  <p><%= link_to "Sign in", login_url %> to add a new post!</p>
<% end %>