<%= form_for @post do |form| %>

  <p><%= form.label :title %>
  <br>
  <%= form.text_field :title, size: 80, autofocus: true %></p>

  <%= form.label :image_url,  "Link to visualization work" %>
  <br>
  <%= form.text_field :image_url, size: 80 %>

  <p><%= form.label :content %>
  <br>
  <%= form.text_area :content, rows: 4, cols: 80 %></p>

  <%= form.submit %>
<% end %>
