<h1>
	Data Visualization Postings
	<% if session[:user_id] %>
	  <small><%= link_to "Add a new post", new_post_url %></small>
	<% else %>
	  <small><%= link_to "Sign in to add a post", login_path %></small>
	<% end %>
</h1>

<%= will_paginate @posts %>
<div class="post-selections">
	<% @posts.each do |post| %>
	  <div class="post-box">
		  <%= link_to image_tag(post.image_url), post_path(post.id) %>
		  <h3><%= link_to post.title, post_path(post.id) %></h3>
	  </div>
  <% end %>
</div>