<h1><%= @post.title %></h1>
<h3>Author: <%= link_to @post.user.name, "/users/#{@post.user.id}" %></h3>
<p><%= image_tag @post.image_url, width: 1000 %></p>
<p><%= @post.content %></p>

<h3>Source Dataset(s):</h3>
<ul>
  <% @post.datasets.each do |dataset| %>
    <li><%= link_to dataset.database + " : " + dataset.table, "/datasets/#{dataset.id}" %></li>
  <% end %>
</ul>